@page "/oauth-callback"
@using Microsoft.AspNetCore.Components.Web
@using SimpleModule.Core.Security
@inject ICspNonce CspNonce

<PageTitle>Authenticating... - SimpleModule</PageTitle>

<p class="text-center text-muted">Completing authentication...</p>
<script suppress-error="BL9992" nonce="@CspNonce.Value">
    window.location.href = '/' + window.location.search;
</script>
