@page "/Identity/Account/Manage/DeletePersonalData"
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<DeletePersonalData> Logger
@inject NavigationManager Navigation

<PageTitle>Delete Personal Data - SimpleModule</PageTitle>

<h3>Delete Personal Data</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
</div>

<div>
    <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="delete-personal-data">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        @if (_errors.Count > 0)
        {
            <div class="text-danger" role="alert">
                <ul style="list-style:none;padding:0;">
                    @foreach (var error in _errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        @if (_requirePassword)
        {
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label for="Input.Password" class="form-label">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    public InputModel Input { get; set; } = default!;

    private bool _requirePassword;
    private readonly List<string> _errors = [];

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null) { Navigation.NavigateTo("/Identity/Account/Login", forceLoad: true); return; }

        _requirePassword = await UserManager.HasPasswordAsync(user);
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null) return;

        _requirePassword = await UserManager.HasPasswordAsync(user);
        if (_requirePassword)
        {
            if (!await UserManager.CheckPasswordAsync(user, Input.Password ?? ""))
            {
                _errors.Add("Incorrect password.");
                return;
            }
        }

        var result = await UserManager.DeleteAsync(user);
        if (!result.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred deleting user.");
        }

        await SignInManager.SignOutAsync();
        Logger.LogInformation("User deleted themselves.");

        Navigation.NavigateTo("/", forceLoad: true);
    }

    public sealed class InputModel
    {
        [DataType(DataType.Password)]
        public string? Password { get; set; }
    }
}
