@page "/Identity/Account/Manage/Disable2fa"
@inject UserManager<ApplicationUser> UserManager
@inject ILogger<Disable2fa> Logger
@inject NavigationManager Navigation

<PageTitle>Disable two-factor authentication (2FA) - SimpleModule</PageTitle>

<StatusMessage Message="@_statusMessage" />
<h3>Disable two-factor authentication (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a href="/Identity/Account/Manage/ResetAuthenticator">reset your authenticator keys.</a>
    </p>
</div>

<div>
    <form method="post" @formname="disable-2fa" @onsubmit="OnSubmitAsync">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private string? _statusMessage;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null) { Navigation.NavigateTo("/Identity/Account/Login", forceLoad: true); return; }

        if (!await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException("Cannot disable 2FA for user as it's not currently enabled.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null) return;

        var disable2faResult = await UserManager.SetTwoFactorEnabledAsync(user, false);
        if (!disable2faResult.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred disabling 2FA.");
        }

        Logger.LogInformation("User has disabled 2fa.");
        _statusMessage = "2fa has been disabled. You can reenable 2fa when you setup an authenticator app";

        Navigation.NavigateTo("/Identity/Account/Manage/TwoFactorAuthentication");
    }
}
