@page "/Identity/Account/Manage/ShowRecoveryCodes"
@inject NavigationManager Navigation

<PageTitle>Recovery codes - SimpleModule</PageTitle>

<StatusMessage Message="@_statusMessage" />
<h3>Recovery codes</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
</div>
<div>
    @if (_recoveryCodes is not null)
    {
        @for (var row = 0; row < _recoveryCodes.Length; row += 2)
        {
            <code>@_recoveryCodes[row]</code>
            @if (row + 1 < _recoveryCodes.Length)
            {
                <text>&nbsp;</text>
                <code>@_recoveryCodes[row + 1]</code>
            }
            <br />
        }
    }
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private string[]? _recoveryCodes;
    private string? _statusMessage;

    protected override void OnInitialized()
    {
        _recoveryCodes = HttpContext?.Items["RecoveryCodes"] as string[];
        _statusMessage = HttpContext?.Items["StatusMessage"] as string;

        if (_recoveryCodes is null || _recoveryCodes.Length == 0)
        {
            Navigation.NavigateTo("/Identity/Account/Manage/TwoFactorAuthentication");
        }
    }
}
