@page "/oauth-callback"

<PageTitle>Authenticating... - SimpleModule</PageTitle>

<p class="text-center text-muted">Completing authentication...</p>
<script suppress-error="BL9992">
    window.location.href = '/' + window.location.search;
</script>
