@page "/Identity/Account/Manage"
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<PageTitle>Profile - SimpleModule</PageTitle>

<h3>Profile</h3>
<StatusMessage Message="@_statusMessage" />
<div>
    <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="profile">
        <DataAnnotationsValidator />
        <ValidationSummary class="alert-danger mb-4 text-sm" role="alert" />
        @if (_errors.Count > 0)
        {
            <div class="alert-danger mb-4 text-sm" role="alert">
                <ul class="list-none p-0 m-0 space-y-1">
                    @foreach (var error in _errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        <div class="form-group">
            <label>Username</label>
            <input value="@_username" class="w-full" placeholder="Please choose your username." disabled />
        </div>
        <div class="form-group">
            <label for="Input.PhoneNumber">Phone number</label>
            <InputText @bind-Value="Input.PhoneNumber" class="w-full" placeholder="Please enter your phone number." />
            <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
        </div>
        <button id="update-profile-button" type="submit" class="btn-primary btn-lg w-full">Save</button>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromQuery]
    public string? StatusMessageParam { get; set; }

    [SupplyParameterFromForm]
    public InputModel Input { get; set; } = default!;

    private string? _username;
    private string? _statusMessage;
    private readonly List<string> _errors = [];

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();
        _statusMessage = StatusMessageParam;
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null)
        {
            Navigation.NavigateTo("/Identity/Account/Login", forceLoad: true);
            return;
        }

        _username = await UserManager.GetUserNameAsync(user);
        var phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext!.User);
        if (user is null) return;

        var phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                _statusMessage = "Error: Unexpected error when trying to set phone number.";
                return;
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        _statusMessage = "Your profile has been updated";
    }

    public sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }
    }
}
