@page "/Identity/Account/ForgotPassword"
@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager Navigation

<PageTitle>Forgot your password? - SimpleModule</PageTitle>

<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<div>
    <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="forgot-password">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        <div class="form-floating mb-3">
            <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label for="Input.Email" class="form-label">Email</label>
            <ValidationMessage For="() => Input.Email" class="text-danger" />
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    public InputModel Input { get; set; } = default!;

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override void OnInitialized() => Input ??= new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            Navigation.NavigateTo("/Identity/Account/ForgotPasswordConfirmation");
            return;
        }

        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = $"{Navigation.BaseUri}Identity/Account/ResetPassword?code={Uri.EscapeDataString(code)}";

        await EmailSender.SendPasswordResetLinkAsync(user, Input.Email, callbackUrl);

        Navigation.NavigateTo("/Identity/Account/ForgotPasswordConfirmation");
    }

    public sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}

@using System.Text
@using Microsoft.AspNetCore.WebUtilities
