@page "/Identity/Account/ResetPasswordConfirmation"

<PageTitle>Reset password confirmation - SimpleModule</PageTitle>

<div class="flex items-center justify-center min-h-[calc(100vh-12rem)]">
    <div class="w-full max-w-md">
        <div class="glass-card p-8">
            <h1>Reset password confirmation</h1>
            <p>
                Your password has been reset. Please <a href="/Identity/Account/Login">click here to log in</a>.
            </p>
        </div>
    </div>
</div>
